.nav-bar{
    width: 100%;
    position: fixed;
    z-index: 121;
    color: black;
}
.header_logo-text{
    font-family:monospace;
    font-weight: 600;
    font-size: 36px;
}
.nav-bar>ul{
    padding: 12px;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.098);
    font-family:Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-bar-items>li>img{
    height: 40px;
    width: 40px;
}
.header_logo-text__YJqOn {
    font-family: CipherSchools_font;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 2px;
    padding: 0 2px;
}
.nav-bar>ul>li:nth-child(2){
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
}
.nav-bar>ul>li:first-child{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-bar>ul>li:last-child{
    display: flex;
    gap: 2vmax;
    align-items: center;
}
.user-profile{
  border-radius: 50%;
}
.user-profile>a>img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 11px 1px rgba(128, 128, 128, 0.773);
}
.bell-icon{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}
.bell-icon>div{
    position: relative;
    padding: 8px;
}
.bell-icon>div>svg{
    position: absolute;
    top: -5px;
    left: -5px;
    left: 0;
    padding: 5px;
    transition: 0.2s;
    cursor: pointer;
}
.night-mode-toggle:hover{
    scale: 1.1;
}

/* latest update pop-up */
.notify-back{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: transparent;
}
.latest-update-notification{
    position: absolute;
    top: 55px;
    right: 130px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: #a0caf4;
    padding: 18px;
    width: 180px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 11;
    border-radius: 10px 0 10px 10px ;
    clip-path: polygon(83% 14%, 100% 0, 100% 0, 100% 99%, 0 100%, 0 14%);
}
.latest-update-notification>button{
   border: none;
   padding: 4px;
   border-radius: 8px;
   background-color: rgb(36, 117, 198);
   border: 1px solid rgb(36, 117, 198);
   color: #FFF;
   cursor: pointer;
   transition: 0.2s;
}
.latest-update-notification>button:hover{
   background-color: transparent;
   color: rgb(36, 117, 198);
}

@media only screen and (max-width: 600px) {
    .nav-bar-items>li:nth-child(2){
        display: none!important;
    }
    .nav-bar-items>li:nth-child(3){
        display: none!important;
    }
}